<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="referrer" content="no-referrer">
    <meta name="theme-color" content="#455164">
    <title>Discutea — <%= trans.title %></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style id="user-specified-css"></style>
    <link rel="shortcut icon" href="https://cdn.discutea.com/img/favicon.ico" data-other="img/favicon-notification.png" data-toggled="false" id="favicon">
    <link rel="apple-touch-icon" href="https://cdn.discutea.com/img/apple-touch-icon.png"/>
    <link rel="manifest" href="manifest.json">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5805634046586807",
        enable_page_level_ads: true
      });
    </script>
    </head>
    <body class="signed-out">

    <div id="wrap">
    <div id="viewport">
        <aside id="sidebar">
            <div class="networks"></div>
            <div class="empty">
                <%= trans.notconnected %>
            </div>
        </aside>
        <footer id="footer">
            <span class="dconnect tooltipped tooltipped-n" aria-label="<%= trans.labels.connect %>"><button class="icon connect" data-target="#connect" aria-label="<%= trans.labels.connect %>"></button></span>
            <span class="tooltipped tooltipped-n" aria-label="<%= trans.labels.settings %>"><button class="icon settings" data-toggle="modal" data-target="#myModal"> Configurations</button></span>
        </footer>

        <div id="main">
            <div id="windows">
                <div id="loading" class="window active">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1 class="title"><%= trans.loading %></h1>
                            </div>
                            <div class="col-xs-12">
                                <p id="loading-page-message"><%= trans.loadingapp %> <a href="http://enable-javascript.com/" target="_blank"><%= trans.jsenabled %></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chat-container" class="window">
		          
                    <div id="loader-wrapper">
			          <div id="loader"></div>
		            </div>
                  
                    <div id="chat"></div>
                    <button id="connection-error" class="btn btn-reconnect"><%= trans.connectlost %></button>
                    <form id="form" method="post" action="">
                        <div class="input">
                            <span id="nick">
                                <span id="nick-value" spellcheck="false"></span><!-- Comments here remove spaces between elements
                                --><span id="set-nick-tooltip" class="tooltipped tooltipped-e" aria-label="<%= trans.labels.nickchange %>"><button id="set-nick" type="button" aria-label="<%= trans.labels.nickchange %>"></button></span><!--
                                --><span id="cancel-nick-tooltip" class="tooltipped tooltipped-e" aria-label="Cancel"><button id="cancel-nick" type="button" aria-label="<%= trans.labels.cancel %>"></button></span><!--
                                --><span id="save-nick-tooltip" class="tooltipped tooltipped-e" aria-label="<%= trans.labels.save %>"><button id="submit-nick" type="button" aria-label="<%= trans.labels.save %>"></button></span>
                            </span>
                            <textarea id="input" class="mousetrap"></textarea>
                            <span id="submit-tooltip" class="tooltipped tooltipped-w" aria-label="<%= trans.labels.sendmsg %>">
                                <button id="submit" type="submit" aria-label="<%= trans.labels.sendmsg %>"></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div id="connect" class="window">
                    <div class="header">
                        <button class="lt" aria-label="Toggle channel list"></button>
                    </div>
                    <form class="container" method="post" action="">
                        <div class="row">          
                            <div class="col-xs-12 center">
                              <br />
                              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- tchat rencontre -->
                              <ins class="adsbygoogle"
                                   style="display:inline-block;width:468px;height:60px"
                                   data-ad-client="ca-pub-5805634046586807"
                                   data-ad-slot="1535783596"></ins>
                              <script>
                              (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                              <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="title">
                                    <%= trans.connectTo %> <%= defaults.name %>
                                </h1>
                            </div>
                            <div class="col-sm-3">
                                <label for="connect:nick"><%= trans.form.nick %></label>
                            </div>    
                            <div class="col-sm-9">
                                <input class="input nick" id="connect:nick" name="nick" value="<%= typeof(nick) === "string" ? nick : defaults.nick %>">
                            </div>
                           
                            <div class="col-sm-3">
                                <label for="connect:age"><%= trans.form.age %></label>
                            </div>
                            <div class="col-sm-9">
                                <input class="input" required="required" type="number" min="10" max="99" id="connect:age" name="age" value="<%= typeof(age) === "string" ? age : "" %>">
                            </div>
                            
                            <div class="col-sm-3">
                                <label for="connect:gender"><%= trans.form.gender %></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="radio" id="connect:gender" name="gender" <%= typeof(gender) === "string" && gender === "F" ? "checked" : ""  %> required="required" value="F" />
                                <img src="https://cdn.discutea.com/img/femme.png">
                                <input type="radio" id="connect:gender" name="gender" <%= typeof(gender) === "string" && gender === "M" ? "checked" : ""  %> required="required" value="M" />
                                <img src="https://cdn.discutea.com/img/homme.png">
                            </div> 

                            <input type="hidden" class="channel" id="connect:channel" name="channel" value="Accueil">   
                            <input type="hidden" class="dusname" id="connect:username" name="username" value="<%= typeof(channel) === "string" ? channel : "Accueil" %>">
                            <input type="hidden" class="dresol" id="connect:resol" name="resol" value="">        

                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn"><%= trans.connect %></button>
                            </div>
                        </div>
                        <div class="row">          
                            <div class="col-xs-12 center">
                              <br />
                              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                              <!-- tchat rencontre -->
                              <ins class="adsbygoogle"
                                   style="display:inline-block;width:468px;height:60px"
                                   data-ad-client="ca-pub-5805634046586807"
                                   data-ad-slot="1535783596"></ins>
                              <script>
                              (adsbygoogle = window.adsbygoogle || []).push({});
                              </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="context-menu-container">
        <ul id="context-menu"></ul>
    </div>
    <script src="js/bundle.vendor.js"></script>
    <script src="js/bundle.js"></script>

<!-- nickserv -->
<div class="modal fade" id="nickservModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal" aria-label="<%= trans.close %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="nicktitle"> <%= trans.nickservmodal.title %></h4>
      </div>
      <form id="nickserv" method="post" action="">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-3">
              <label for="passnickserv"><%= trans.nickservmodal.password %> </label>
            </div>    
            <div class="col-sm-9">
              <input class="input nick" id="passnickserv" type="password" name="nick" placeholder="<%= trans.nickservmodal.password %>">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn"><%= trans.valid %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Ignore -->
<div class="modal fade" id="ignoreModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal" aria-label="<%= trans.close %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ignoretitle"> <%= trans.ignoremodal.title %></h4>
      </div>
      <div class="modal-body">
        <table class="ignorelist">
          <thead>
            <tr>        
              <th class="user"><%= trans.ignoremodal.nickname %></th>
              <th class="actions"><%= trans.ignoremodal.unblock %></th>
            </tr>
          </thead>
          <tbody class="ignoreds">
            <tr class="empty"><td colspan="5"><%= trans.ignoremodal.empty %></td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal" aria-label="<%= trans.close %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= trans.settings.settings %></h4>
      </div>
      <div id="settings" class="modal-body">
        <div class="row">
          <ul class="nav nav-tabs col-xs-12">
            <li class="active"><a href="#setting" aria-label="<%= trans.settings.settings %>" data-toggle="tab" class="tooltipped tooltipped-n setting-link">
              <span class="iset-set"></span>
            </a></li>
            <li><a href="#color" aria-label="<%= trans.settings.writing %>" data-toggle="tab" class="tooltipped tooltipped-n setting-link">
              <span class="iset-color"></span>
            </a></li>
            <li><a href="#private" aria-label="<%= trans.settings.antiprivate %>" data-toggle="tab" class="tooltipped tooltipped-n setting-link">
              <span class="iset-private"></span>
            </a></li>
            <li><a href="#visual" aria-label="<%= trans.settings.visualaids %>" data-toggle="tab" class="tooltipped tooltipped-n setting-link">
              <span class="iset-visual"></span>
            </a></li>
            <li><a href="#notis" aria-label="<%= trans.settings.notifs %>" data-toggle="tab" class="tooltipped tooltipped-n setting-link">
              <span class="iset-noti"></span>
            </a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane row active" id="setting">
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="join">
                <%= trans.settings.showjoins %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="motd">
                <%= trans.settings.showmotd %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="part">
                <%= trans.settings.showparts %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="nick">
                <%= trans.settings.shownick %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="mode">
                <%= trans.settings.showmode %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="quit">
                <%= trans.settings.showquits %>
              </label>
            </div>
          </div>
          <div class="tab-pane row" id="color">
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="bold"><%= trans.settings.bold %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="underline"><%= trans.settings.underline %>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <select id="wcolor" name="wcolor">
                  <option value=""><%= trans.settings.color.empty %></option>
                  <option value="3" style="color: #008000"><%= trans.settings.color.green %></option>
                  <option value="4" style="color: #FF0000"><%= trans.settings.color.red %></option>
                  <option value="5" style="color: #804040"><%= trans.settings.color.brown %></option>
                  <option value="6" style="color: #8000FF"><%= trans.settings.color.purple %></option>
                  <option value="7" style="color: #FF8C00"><%= trans.settings.color.orange %></option>
                  <option value="10" style="color: #008080"><%= trans.settings.color.teal %></option>
                  <option value="12" style="color: #0000FF"><%= trans.settings.color.blue %></option>
                  <option value="13" style="color: #FF00FF"><%= trans.settings.color.pink %></option>
                  <option value="14" style="color: #808080"><%= trans.settings.color.gray %></option>
                </select>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="opt">
                <input type="checkbox" name="italic"><%= trans.settings.italics %>
              </label>
            </div>
          </div>
          <div class="tab-pane row" id="private">
            <div class="col-sm-12">
              <label class="opt">
                <input class="noprivate" type="checkbox" name="noprivate">
                <%= trans.settings.registeredmp %>
              </label>
            </div>
            <div class="col-sm-12">
              <label class="opt">
                <input class="noprivate" type="checkbox" name="commonchans">
                <%= trans.settings.commonchansmp %>
              </label>
            </div>
            <div class="col-sm-12">
              <label class="opt">
                <input class="noprivate" type="checkbox" name="noprivateregistered">
                <%= trans.settings.nomp %>
              </label>
            </div>        
          </div>
          <div class="tab-pane row" id="visual">
            <div class="col-sm-12">

              <label class="opt">Taille du texte: 
                <select id="fontsize" name="fontsize">
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                  <option value="xx-large">xx-large</option>
                </select>
              </label>

              <label class="opt">
                <input type="checkbox" name="coloredNicks">
                <%= trans.settings.colornick %>
              </label>
              <% if (typeof prefetch === "undefined" || prefetch !== false) { %>
                <label class="opt">
                  <input type="checkbox" name="thumbnails">
                  <%= trans.settings.thumbnails %>
                </label>
                <label class="opt">
                  <input type="checkbox" name="links">
                  <%= trans.settings.links %>
                </label>
              <% } %>
            </div>
          </div> 
            <div class="tab-pane row" id="notis">
              <div class="col-sm-12">
                <label class="opt">
                  <input id="desktopNotifications" type="checkbox" name="desktopNotifications">
                  <%= trans.settings.notifdesktop %><br>
                  <div class="error" id="warnUnsupportedDesktopNotifications">
                    <strong><%= trans.warning %><br></strong>:
                    <%= trans.settings.notsupported %>
                  </div>
                  <div class="error" id="warnBlockedDesktopNotifications">
                    <strong><%= trans.warning %></strong>:
                    <%= trans.settings.notsupported %>
                  </div>
                </label>
              </div>
              <div class="col-sm-12">
                <label class="opt">
                  <input type="checkbox" name="notification">
                  <%= trans.settings.notisound %>
                </label>
              </div>
              <div class="col-sm-12">
                <div class="opt">
                  <button id="play"><%= trans.settings.playsound %></button>
                </div>
              </div>
              <div class="col-sm-12">
                <label class="opt">
                  <input type="checkbox" name="notifyAllMessages">
                  <%= trans.settings.notifisall %>
                </label>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= trans.close %></button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
